<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<!--CONECTAR A LA BASE DE DATOS-->

	<connectionStrings>
  <add name="Conn" connectionString="MSI\SQLEXPRESS;integrated security=yes;Database=SISTEMA_AUTOBUSES" />
  <add name="Capa_Presentacion.Properties.Settings.SISTEMA_AUTOBUSESConnectionString"
   connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=SISTEMA_AUTOBUSES;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	
</configuration>